@charset "UTF-8";
/*
 *  HFCS
*/
/* I. Base Settings — Sitewide Styles
====================================================== */
/* @font-face declarations
====================================================== */
@font-face {
  font-family: 'komika_axisregular';
  src: url("base/fonts/KOMIKAX_-webfont.eot");
  src: url("base/fonts/KOMIKAX_-webfont.eot?#iefix") format("embedded-opentype"), url("base/fonts/KOMIKAX_-webfont.woff") format("woff"), url("base/fonts/KOMIKAX_-webfont.ttf") format("truetype"), url("base/fonts/KOMIKAX_-webfont.svg#komika_axisregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Base definitions
====================================================== */
/* Headings
====================================================== */
/* Headings
====================================================== */
/* Colours
====================================================== */
/* II. Global — Variables & Mixins
====================================================== */
/* normalize.css v2.1.2 | MIT License | git.io/normalize */
p {
  margin: 0;
  padding: 0;
}

p + p {
  margin-top: 1em;
}

p,
ul,
ol,
span,
h2,
h3 {
  text-align: left;
}

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@-moz-keyframes tada {
  0% {
    -moz-transform: scale(1);
  }

  10%, 20% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -moz-transform: scale(1) rotate(0);
  }
}

@-o-keyframes tada {
  0% {
    -o-transform: scale(1);
  }

  10%, 20% {
    -o-transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -o-transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -o-transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -o-transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    transform: scale(1);
  }

  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

.tada {
  -webkit-animation-name: tada;
  -moz-animation-name: tada;
  -o-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

header,
footer,
article,
aside,
section,
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}
@media only screen and (max-width: 480px) {
  .container {
    padding: 1em;
  }
}

/*
* Based off Skeleton-SASS V1.0 | Copyright 2012 by Michael Lazer-Walker | https://github.com/lazerwalker/Skeleton-Sass
* Based off of Skeleton v1.1: https://github.com/dhgamache/Skeleton
* Free to use under the MIT license. | http://www.opensource.org/licenses/mit-license.php
*/
.container {
  *zoom: 1;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

img {
  max-width: 100%;
}

img.align-left {
  margin: 0 2em 0 0;
}

img.align-right {
  margin: 0 0 0 2em;
}

#rf-wordcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hfcs-title .corn, .hfcs-title .syrup, .risk-of, .obesity, .mail-in {
  color: #230c0c;
  background: -webkit-linear-gradient(transparent, transparent), url("../images/brown-black-texture.png") repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.hfcs-title .high-fructose, .free, .hfcs-title-bottom .high-fructose, .hfcs-title-bottom .syrup, .hfcs-title-bottom .genetically-modified {
  color: #bf2327;
  background: -webkit-linear-gradient(transparent, transparent), url("../images/red-texture.png") repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.panels-side, .panel-back-heading, .panel-back-body, .panel-end {
  padding: 4em 0;
}

/* Global styles
====================================================== */
::selection {
  background: #96b73d;
  color: #FFF;
}

body {
  font: 400 1.125em "futura-pt", "Futura Book", Futura, Verdana, sans-serif;
  color: #230c0c;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 97.5%;
  }
}

a {
  color: #305e6e;
  text-decoration: none;
}
a:hover, a:focus {
  color: #305e6e;
}

p {
  line-height: 1.6;
  letter-spacing: 1px;
}

.strong {
  font: 700 1.125em "futura-pt-condensed", Futura, Verdana, sans-serif;
  text-transform: uppercase;
}

code {
  background: #fad64d;
  padding: .3em .5em;
  margin: 0 .25em;
  overflow: auto;
}

/* Stylistic treatments
====================================================== */
hr {
  height: 0;
  padding: 0 0 .75em 0;
  margin: 0 0 1em 0;
  border: 0;
  background: url("../images/underline-gray.png") center center repeat-x;
}

#rf-wordcontainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#rf-wordcontainer, .risk-of, .mail-in, .hfcs-title-bottom .genetically-modified {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Headings
====================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h5,
h6 {
  font-size: 1em;
}

.small-heading {
  letter-spacing: 10px;
  font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="submit"],
textarea,
select {
  margin-bottom: .5em;
  padding: .5em .85em;
  font: 400 1.125em "futura-pt", "Futura Book", Futura, Verdana, sans-serif;
  line-height: 1.6;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea,
select {
  width: 80%;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  color: #230c0c;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.05);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 .5em 0 1em;
}

input:hover, input:focus,
textarea:hover, textarea:focus,
select:hover, select:focus,
button:hover, button:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"],
button,
.button {
  padding: 9px 15px;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border: black;
  background-color: #96b73d;
  font: 700 0.94444em "bistro-script-web", "Bistro Script", Belinda, "Sign Painter", "Brush Script", Helvetica, script;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
input[type="submit"]:hover,
button:hover,
.button:hover {
  background-color: #86a437;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
input[type="submit"]:active,
button:active,
.button:active {
  background-color: #7d9833;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

form li {
  margin-bottom: 1em;
}

/* Style for grid cells */
.rf-tgrid {
  font: 400 1.125em "source-code-pro", "Source Code Pro", "Courier New", mono;
  text-transform: uppercase;
  margin: 1px;
  padding: 5px 16px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  .rf-tgrid {
    display: none;
  }
}

/* Style for the grid */
/* Style for the div containing the grid */
/* Style for the div containing the word list */
#rf-wordcontainer {
  margin-top: .5em;
  font-size: 1.25em;
  color: #305e6e;
  -webkit-columns: 2;
  -moz-columns: 2;
  -o-columns: 2;
  -ms-columns: 2;
  columns: 2;
}
@media only screen and (max-width: 480px) {
  #rf-wordcontainer {
    font-size: .9em;
  }
}

/* Style for the words that have been found */
.rf-foundword {
  color: #fad64d;
}

#rf-tablegrid .rf-highlight {
  color: #96b73d;
}

#rf-tablegrid .rf-glowing {
  background: #305e6e;
  color: #fff;
}

#rf-tablegrid .rf-selected {
  color: #fad64d;
}

/* style for words that didn't make it on the grid */
.rf-pfalse {
  color: gray;
  visibility: hidden;
}

/* IV. Layout — Page Structure
====================================================== */
.fence-bottom {
  display: block;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  -webkit-transform: rotate(180deg);
  z-index: 0;
  margin-top: -100px;
}

.panel-front {
  background: white url(../images/fence-top.png) center -150px repeat-x;
}

.panels-side {
  font-size: 1.25em;
  background: #fdefc8;
}
@media only screen and (max-width: 480px) {
  .panels-side {
    font-size: 1em;
  }
}

.front-bottom {
  background: green;
  width: 100%;
  margin: 4em auto 0 auto;
  position: relative;
}

.rooster {
  float: right;
  display: inline-block;
  position: relative;
  top: -75px;
  z-index: 0;
}
.rooster img {
  width: 500px;
}
@media only screen and (max-width: 480px) {
  .rooster {
    top: 0px;
    margin-left: 0px;
  }
}

.net-weight {
  display: inline-block;
  margin: .5em 1em 0 0;
  float: right;
  padding: .75em 1em;
  color: #305e6e;
  background: #fff;
  font: 700 0.925em "futura-pt-condensed", Futura, Verdana, sans-serif;
  text-transform: uppercase;
  border-radius: 1em;
}
@media only screen and (max-width: 480px) {
  .net-weight {
    margin: 0;
    padding: 0;
    background: inherit;
  }
}

.high-fructose {
  display: block;
  font: 400 1.125em "bistro-script-web", "Bistro Script", Belinda, "Sign Painter", "Brush Script", Helvetica, script;
  line-height: 1;
}

.corn, .syrup {
  font: 400 3.25em "alternate-gothic-no-2-d", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

.syrup {
  display: block;
  position: relative;
  top: -20px;
  font-size: 2.75em;
}

.hfcs-title {
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-left: 0;
  font-size: 4em;
}
.hfcs-title span {
  position: relative;
}
.hfcs-title .high-fructose {
  left: 15px;
  padding-bottom: .15em;
}
.hfcs-title .corn, .hfcs-title .syrup {
  top: -20px;
}
.hfcs-title .corn {
  display: block;
  left: -10px;
}
.hfcs-title .syrup {
  top: -.35em;
}
@media only screen and (max-width: 480px) {
  .hfcs-title {
    margin-left: 0;
    font-size: 3em;
    margin-top: 30px;
  }
}

.hfcs-box {
  display: inline-block;
  padding: 2em 2em .5em 2em;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  background: #bf2327;
}

.all-natural-corn-sugar {
  clear: both;
  position: absolute;
  top: 8em;
  right: 9em;
  color: #305e6e;
  text-indent: -.35em;
  font: 400 2em "bistro-script-web", "Bistro Script", Belinda, "Sign Painter", "Brush Script", Helvetica, script;
  line-height: .9;
}
@media only screen and (max-width: 480px) {
  .all-natural-corn-sugar {
    display: none;
  }
}

.bioengineered {
  display: inline-block;
  margin: 0 0 0 1em;
  padding: .25em 1em .5em 1em;
  background: #fff;
  color: #305e6e;
  font: 400 0.925em "komika_axisregular", "Boogaloo", script;
  text-transform: uppercase;
}
.bioengineered .percentage {
  display: block;
  margin-left: .25em;
  font-size: 2.5em;
  line-height: 1;
}
@media only screen and (max-width: 480px) {
  .bioengineered {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
  }
}

.panel-left,
.panel-right {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}
@media only screen and (max-width: 480px) {
  .panel-left,
  .panel-right {
    width: 100%;
  }
}

.nutrition-facts {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  padding: 1.25em;
  background: #fff;
  font-size: .65em;
}
@media only screen and (max-width: 480px) {
  .nutrition-facts {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .nutrition-facts {
    font-size: 0.8125em;
  }
}
.nutrition-facts h2 {
  font-weight: 700;
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.nutrition-facts span {
  padding: .25em 0;
  display: block;
  border-top: solid 1px #230c0c;
}
.nutrition-facts span span {
  padding: .25em 0 .25em 1.25em;
}
.nutrition-facts span span:first-child {
  margin-top: 3px;
  border-top: solid 1px #230c0c;
}
.nutrition-facts span span:last-child {
  border-bottom: 0;
}

.ingredients {
  margin-left: 1.75em;
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
@media only screen and (max-width: 480px) {
  .ingredients {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .ingredients {
    margin: 2em 0 0 0;
  }
}

.amount-per-serving {
  display: block;
}

.serving-size,
.nutrition-facts-list {
  border-bottom: solid 10px #230c0c;
}
.serving-size li,
.nutrition-facts-list li {
  border-bottom: solid 1px #230c0c;
}

.nutrition-facts-heading {
  border-bottom: solid 5px #230c0c;
}

.nutrition-facts-note {
  margin-left: 1.15em;
  text-indent: -.45em;
  padding: 1em 0;
  font-size: 0.8125em;
  line-height: 1.4;
}
.nutrition-facts-note:before {
  display: inline-block;
  content: "*";
  margin-right: .25em;
}

.address,
.address h3,
.address p {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.2;
}

.panel-back-heading {
  background: #fad64d;
  text-align: center;
  border-bottom: solid 30px #305e6e;
}

.lil-fattie {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
@media only screen and (max-width: 480px) {
  .lil-fattie {
    width: 100%;
  }
}

.obesity-block {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  font-size: 1.66667em;
}
@media only screen and (max-width: 480px) {
  .obesity-block {
    width: 100%;
  }
}

.free {
  display: inline-block;
  font: 400 1.125em "komika_axisregular", "Boogaloo", script;
  text-transform: uppercase;
  position: relative;
  margin: -2px 0 0 -15px;
  padding: 0 0 0 .5em;
}

.risk-of {
  margin-left: .25em;
  letter-spacing: 5px;
  position: relative;
  top: -3px;
}

.free-risk-of {
  font-size: 1.5em;
}
@media only screen and (max-width: 480px) {
  .free-risk-of {
    font-size: 1em;
  }
}

.obesity {
  display: block;
  margin-top: -.2em;
  text-align: center;
  font: 700 6em "futura-pt-condensed", Futura, Verdana, sans-serif;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .obesity {
    font-size: 3.7em;
  }
}

.mail-in {
  display: block;
  margin-top: -1em;
  text-align: center;
  font-size: .65em;
}

.word-search {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
@media only screen and (max-width: 480px) {
  .word-search {
    width: 100%;
  }
}

h2.word-search-heading {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  margin: 0 0 .25em 0;
  padding: 0;
  color: #305e6e;
  text-align: center;
  font: 700 2.5em "futura-pt-condensed", Futura, Verdana, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1;
}
@media only screen and (max-width: 480px) {
  h2.word-search-heading {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  h2.word-search-heading {
    margin: 0 0 .5em 0;
    font-size: 1.75em;
  }
}

.word-search p {
  line-height: 1.85 !important;
  letter-spacing: 5px;
  font: 400 1.125em "source-code-pro", "Source Code Pro", "Courier New", mono;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .word-search p {
    letter-spacing: 1px;
    font-size: .9em;
  }
}

.corn {
  float: right;
}

.hfcs-title-bottom {
  clear: both;
  padding-top: 2.5em;
  font-size: 1.66667em;
  text-align: center;
}
.hfcs-title-bottom .high-fructose {
  display: inline;
  font-size: 2.5em;
  margin-right: .25em;
  vertical-align: bottom;
  position: relative;
  bottom: 6px;
}
.hfcs-title-bottom .syrup {
  display: inline;
  vertical-align: bottom;
  top: 0;
}
.hfcs-title-bottom .genetically-modified {
  display: block;
  letter-spacing: 5px;
  font-size: .9em;
  text-align: center;
}

p.strong {
  margin-top: 2em;
  text-align: center;
}

/* III. Components — Content Components & Modules
====================================================== */
/*
@import "components/header";
@import "components/page";
@import "components/article";
@import "components/sidebar";
*/
