.fence-bottom {
	display: block;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	-webkit-transform: rotate(180deg);
	z-index: 0;
	margin-top: -100px;
}

.panel-front {
	background: #fff url(../images/fence-top.png) center -150px repeat-x;
}

.panels-side {
	@extend %padding;
	font-size: 1.25em;
	@include media-query {
		font-size: 1em;
	}
	background: $hfcs-cream;
}

.front-bottom {
	background: green;
	width: 100%;
	margin: 4em auto 0 auto;
	position: relative;
}

.rooster {
	float: right;
	display: inline-block;
	position: relative;
	top: -75px;
	z-index: 0;
//	-webkit-transform: rotate(180deg);
	img {
		width: 500px;
	}
	@include media-query {
		top: 0px;
		margin-left: 0px;
	}
}

.net-weight {
	display: inline-block;
	margin: .5em 1em 0 0;
	float: right;
	padding: .75em 1em;
	color: $hfcs-blue;
	background: #fff;
	@include font-stack-primary-condensed($size: .925em);
	border-radius: 1em;
	@include media-query {
		margin: 0;
		padding: 0;
		background: inherit;
	}
}

	.high-fructose {
		display: block;
		@include font-stack-secondary($size: 1.125em);
		line-height: 1;
	}
	.corn, .syrup {
		@include font-stack-quaternary($size: 3.25em);
		line-height: 1;
	}
	.syrup {
		display: block;
		position: relative;
		top: -20px;
		font-size: 2.75em;
	}

.hfcs-title {
	display: inline-block;
	vertical-align: top;
	float: left;
	margin-left: 0;
	font-size: 4em;
	span {
		position: relative;
	}
	.high-fructose {
		left: 15px;
		padding-bottom: .15em;
		@extend %texture-red;
	}
	.corn, .syrup {
		top: -20px;
		@extend %texture-brown-black;
	}
	.corn {
		display: block;
		left: -10px;
	}
	.syrup {
		top: -.35em;
	}
	@include media-query {
		margin-left: 0;
		font-size: 3em;
		margin-top: 30px;
	}
}

.hfcs-box {
	display: inline-block;
	padding: 2em 2em .5em 2em;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	background: $hfcs-red;
}

.all-natural-corn-sugar {
	clear: both;
	position: absolute;
	top: 8em;
	right: 9em; 
	color: $hfcs-blue;
	text-indent: -.35em;
	@include font-stack-secondary($size: 2em);
	line-height: .9;
	@include media-query {
		display: none;
	}
}


.bioengineered {
	display: inline-block;
	margin: 0 0 0 1em;
	padding: .25em 1em .5em 1em;
	background: #fff;
	color: $hfcs-blue;
	@include font-stack-tertiary($size: .925em);
	.percentage {
		display: block;
		margin-left: .25em;
		font-size: 2.5em;
		line-height: 1;
	}
	@include media-query {
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		background: inherit;
	}
}

.panel-left,
.panel-right {
	@include columns(3.5);
}

.nutrition-facts {
	@include columns(3.5);
	padding: 1.25em;
	background: #fff;
	font-size: .65em;
	@include media-query {
		font-size: $font-size-small;
	}

	h2 {
		font-weight: $bold;
		font-size: 2em;
		margin: 0;
		padding: 0;
		line-height: 1;
	}

	span {
		padding: .25em 0;
		display: block;
		border-top: solid 1px $colour-text;
		span {
			padding: .25em 0 .25em 1.25em;
			&:first-child {
				margin-top: 3px;
				border-top: solid 1px $colour-text;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}

.ingredients {
	margin-left: 1.75em;
	@include columns(6);
	@include media-query {
		margin: 2em 0 0 0;
	}
}

	.amount-per-serving {
		display: block;
	}

	.serving-size,
	.nutrition-facts-list {
		border-bottom: solid 10px $colour-text;
		li {
			border-bottom: solid 1px $colour-text;
		}
	}

	.nutrition-facts-heading {
		border-bottom: solid 5px $colour-text;
	}

	.nutrition-facts-note {
		margin-left: 1.15em;
		text-indent: -.45em;
		padding: 1em 0;
		font-size: $font-size-small;
		line-height: 1.4;
		&:before {
			display: inline-block;
			content: "*";
			margin-right: .25em;
		}
	}

.address,
.address h3,
.address p {
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 1.2;
}

.panel-back-heading {
	background: $hfcs-yellow;
	text-align: center;
	@extend %padding;
	border-bottom: solid 30px $hfcs-blue;
}

.lil-fattie {
	@include columns(3);
}

.obesity-block {
	@include columns(6);
	font-size: $font-size-large;
}

.free {
	display: inline-block;
	@include font-stack-tertiary;
	position: relative;
	margin: -2px 0 0 -15px;
	padding: 0 0 0 .5em;
	@extend %texture-red;
}


.risk-of {
	margin-left: .25em;
	@extend %caps;
	letter-spacing: 5px;
	position: relative;
	top: -3px;
	@extend %texture-brown-black;
}

.free-risk-of {
	font-size: 1.5em;
	@include media-query {
		font-size: 1em;
	}
}

.obesity {
	display: block;
	margin-top: -.2em;
	text-align: center;
	@include font-stack-primary-condensed($size: 6em);
	@extend %texture-brown-black;
	@include media-query {
		font-size: 3.7em;
	}
}

.mail-in {
	display: block;
	margin-top: -1em;
	@extend %caps;
	text-align: center;
	font-size: .65em;
	@extend %texture-brown-black;
}

.panel-back-body {
	@extend %padding;
}

.word-search {
	@include columns(6);
}

h2.word-search-heading {
	@include columns(6);
	margin: 0 0 .25em 0;
	padding: 0;
	color: $hfcs-blue;
	text-align: center;
	@include font-stack-primary-condensed($size: 2.5em);
	font-style: italic;
	line-height: 1;
	@include media-query {
		margin: 0 0 .5em 0;
		font-size: 1.75em;
	}
}

.word-search p {
	line-height: 1.85 !important;
	letter-spacing: 5px;
	@include font-stack-mono;
	@include media-query {
		letter-spacing: 1px;
		font-size: .9em;
	}
}

.corn {
	float: right;
}

.hfcs-title-bottom {
	clear: both;
	padding-top: 2.5em;
	font-size: $font-size-large;
	text-align: center;
	.high-fructose {
		display: inline;
		font-size: 2.5em;
		margin-right: .25em;
		vertical-align: bottom;
		position: relative;
		bottom: 6px;
		@extend %texture-red;
	}
	.syrup {
		display: inline;
		vertical-align: bottom;
		@extend %texture-red;
		top: 0;
	}
	.genetically-modified {
		display: block;
		letter-spacing: 5px;
		font-size: .9em;
		text-align: center;
		@extend %caps;
		@extend %texture-red;
	}
}

p.strong {
	margin-top: 2em;
	text-align: center;
}

.panel-end {
	@extend %padding;
}