input[type="text"],
input[type="email"],
input[type="url"],
input[type="submit"],
textarea,
select {
	margin-bottom: .5em;
	padding: .5em .85em;
	@include font-stack-primary;
	line-height: $leading;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea,
select {
	width: 80%;
	@include border-radius(.2em);
	color: $colour-text;
	background-color: rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,.05);
			box-shadow: inset 0 1px 6px rgba(0,0,0,.05);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 .5em 0 1em;
}

input:hover, input:focus,
textarea:hover, textarea:focus,
select:hover, select:focus,
button:hover, button:focus {
	outline: none;
	border-color: rgba(0,0,0,.15);
	box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
}

input[type="submit"],
button,
.button {
	padding: 9px 15px;
	@include border-radius(.3em);
	border: $colour-secondary-darker;
	background-color: $colour-primary;
	@include font-stack-secondary($weight: $bold, $size: .944444em);
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1),
		        0 2px 2px 0 rgba(0,0,0,.2);
	&:hover {
		background-color: darken($colour-primary, 5%);
		box-shadow: inset 0 1px 0 rgba(0,0,0,.12),
			        0 2px 2px 0 rgba(0,0,0,.2);
	}
	&:active {
		background-color: darken($colour-primary, 8%);
		box-shadow: inset 0 2px 6px rgba(0,0,0,.3),
					0 1px 0 0 rgba(0,0,0,.2);
	}
}

form li {
	margin-bottom: 1em;
}