// Box sizing
header,
footer,
article,
aside,
section,
div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Media queries
@mixin media-query($argument: max-width, $screen-size: 480px) {
    @media only screen and (#{$argument}: #{$screen-size}) {
        @content;
    }
}


// Containers 
@mixin container {
    margin: 0 auto;
    max-width: 960px;
    @include media-query {
        padding: 1em;
    }
}

.container, %container {
    @include container;
}

%section-container {
    padding: 2em 0;
}


/*
* Based off Skeleton-SASS V1.0 | Copyright 2012 by Michael Lazer-Walker | https://github.com/lazerwalker/Skeleton-Sass
* Based off of Skeleton v1.1: https://github.com/dhgamache/Skeleton
* Free to use under the MIT license. | http://www.opensource.org/licenses/mit-license.php
*/

// Grid variables
$number-of-columns: 10;
$base-width: 100%;
$margin: 0;


//Grid math
@function skeleton-half-width($num: 1, $width: $base-width) {
    @return $num * ($width / 2) - ($margin);
}

@function skeleton-column-width($num: 1, $width: $base-width) {
    @return ($num * ($width / $number-of-columns)) - ($margin);
}

@mixin column {
    display: inline-block;
    vertical-align: top;
}

%column {
    @include column;
}

@mixin columns($num: 1) {
    @include column;
    width: skeleton-column-width($num, $base-width);
    @include media-query {
        width: 100%;
    }
}

@mixin offset($num: 1) {
    $offset: 2 * $margin;
    padding-left: skeleton-column-width($num, $base-width) + $offset;
}

%column-half {
    @include column;
    width: 49.85%;
    @include media-query {
        width: 49%;
    }
}

// To be @extended
%alpha { margin-left: 0; }
%omega { margin-right: 0; }

@mixin clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.container {
    @include clearfix;
}

%clear {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

// Alignment float classes
.align-left { float: left; }
.align-right { float: right; }

// Images
img { max-width: 100%; }
img.align-left { margin: 0 2em 0 0; }
img.align-right { margin: 0 0 0 2em; }