@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
			border-radius: $radius;
}

@mixin transition($property, $duration, $function : ease) {
    -webkit-transition: $property $duration $function;
       -moz-transition: $property $duration $function;
         -o-transition: $property $duration $function;
            transition: $property $duration $function;
}

//hide from browsers and screen-readers
%hidden { 
	display: none !important;
	visibility: hidden;
}

//hide from browsers; show for screen-readers
%display-none {
	display: none;
}

//accessible and efficient way to hide text only
%hide-text  {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

//un-style a list
%no-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

//black textured text
%texture-brown-black {
	color: $colour-text;
	background: -webkit-linear-gradient(transparent, transparent), url('../images/brown-black-texture.png') repeat;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

//red textured text
%texture-red {
	color: $hfcs-red;
	background: -webkit-linear-gradient(transparent, transparent), url('../images/red-texture.png') repeat;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

//section padding 
%padding {
	padding: 4em 0;
}