// A. Descriptive variables
	$hfcs-red:			#bf2327;

	$hfcs-blue:			#305e6e;

	$hfcs-green:		#96b73d;

	$hfcs-yellow:		#fad64d;

	$hfcs-cream:		#fdefc8;

	$brown-black:		#230C0c;

// B. Functional variables
	$colour-text:				$brown-black;

	$colour-primary:			$hfcs-green;
	$colour-primary-darker:		darken($colour-primary, 15%);
	$colour-primary-lighter:	lighten($colour-primary, 15%);

	$colour-secondary:			$hfcs-blue;
	$colour-secondary-darker:	darken($colour-secondary, 35%);
	$colour-secondary-lighter:	lighten($colour-secondary, 35%);

	$colour-tertiary:			$hfcs-yellow;
	$colour-tertiary-darker:	darken($colour-tertiary, 35%);
	$colour-tertiary-lighter:	lighten($colour-tertiary, 35%);

	$colour-background-dark:	$colour-text;