/* @font-face declarations
====================================================== */
@font-face {
    font-family: 'komika_axisregular';
    src: url('base/fonts/KOMIKAX_-webfont.eot');
    src: url('base/fonts/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('base/fonts/KOMIKAX_-webfont.woff') format('woff'),
         url('base/fonts/KOMIKAX_-webfont.ttf') format('truetype'),
         url('base/fonts/KOMIKAX_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Base definitions
====================================================== */
// A. Weights
$light:				300;
$normal:			400;
$medium:			500;
$bold:				700;
$extra-bold:		800;

$font-weight-base:	$normal;

// B. Sizes
$font-size-base:	1.125em; //18px
$font-size-large:	1.66667em; //30px
$font-size-small:	.8125em; //14px

$leading:			1.6;

// C. Family stacks
$font-family-primary:			"futura-pt", "Futura Book", Futura, Verdana, sans-serif;
$font-family-primary-condensed:	"futura-pt-condensed", Futura, Verdana, sans-serif;
$font-family-secondary:   		"bistro-script-web", "Bistro Script", Belinda, "Sign Painter", "Brush Script", Helvetica, script;
$font-family-tertiary:	 		"komika_axisregular", "Boogaloo", script;
$font-family-quaternary:		"alternate-gothic-no-2-d", Helvetica, Arial, sans-serif;
$font-family-mono:              "source-code-pro", "Source Code Pro", "Courier New", mono;
$font-family-heading:     		$font-family-tertiary;


/* Headings
====================================================== */
// A. Weights
$font-weight-heading:	$light;

/* Headings
====================================================== */
// Fixed Font
$fixed-font-family:		monospace;
$fixed-font-size:		90%;

/* Colours
====================================================== */
// A. Links
$colour-link:			      $colour-secondary;
$colour-link-secondary:	      $colour-secondary;

@mixin secondary-link-style {
	color: $colour-link;
	&:hover, &:focus {
		color: $colour-link-secondary;
		text-decoration: none;
	}
}